.page-main {
    position: absolute;
    top: 10px;
    left: 0;
    height: 80%;
    width: 100%;
    overflow-y: auto;
    text-align: center;
}

.page-footer {
    position: absolute;
    font: 12px/20px 'Share Tech Mono', monospace;
    text-align: center;
    bottom: 0;
    left: 0;
    height: 115px;
    width: 100%;
}